<html>
    <head>
        <title>To-Do</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/toDoList.css') }}" />
        <script src="{{ url_for('static', filename='js/toDoList.js') }}"></script>
    </head>
    <body>
        <div id="container">
            <h3 id="header">To Do List</h3>
            <form action="/agregar" id="todo-form" method="POST">
                <input type="text" name="tarea" id="inputTarea" placeholder="agregar Actividad" />
                <button class="botonAnadir" type="submit">Añadir</button>
            </form>
            
            <div class="task-list" id="all">
                <h3>All</h3>
                <ul id="actividadesTodas">
                    {% for actividad in actividades %}
                    <li>
                        <input type="checkbox" name="tarea1" id="tarea1">
                        <label name="tareaEditar" id="{{ actividad.getNombre() }}">{{ actividad.getNombre() }}</label>
                        <button class="boton-editar" type="button" data-nombre="{{ actividad.getNombre() }}">Editar</button>

                        <form action="/editar" method="POST"> 
                            <input type="hidden" name="tareaEditar" value="{{ actividad.getNombre() }}">
                            <input type="text" name="nuevoNombre" id="inputEditar" placeholder="editar Actividad" style="display: none;" />
                            <button class="boton guardar" type="submit" style="display: none;">Guardar</button>
                        </form>
                        <button class="boton cancelar" type="button" style="display: none;">Cancelar</button>

                        <form action="/eliminar" method="POST" class="eliminar-form">
                            <input type="hidden" name="tareaEliminar" value="{{ actividad.getNombre() }}">
                            <button class="boton eliminar" type="submit">Eliminar</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="task-list" id="active">
                <h3>Active</h3>
                <ul id="actividadesActivas">
                    
                </ul>
            </div>
            <div class="task-list" id="completed">
                <h3>Completed</h3>
            </div>
        </div>
    </body>
</html>
