body {
    background-color: #374a5d;
    border: 0;
}

#container{
    margin: 0 auto;
    width: 1060px;
    min-height: 100%;
    background-color: transparent;
    border: 0;
    
}

#header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

.task-list{
    width: 250px;
    float: left;
    margin: 0 5px;
    background-color: #e3e3e3;
    min-height: 240px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    margin: 5px;
    padding: 5px;
}


h3{
    text-align: center;
}

#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
/* Estilo para la lista sin puntos de lista */
ul {
    list-style: none;
    padding: 0; /* Elimina el espacio de relleno por defecto */
}

/* Estilo para los elementos de la lista */
li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
    display: flex; /* Utiliza un diseño flexible para alinear elementos */
    align-items: left; /* Centra verticalmente los elementos */
}

/* Estilo para los elementos de la lista con casillas de verificación */
li input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre la casilla de verificación y el texto */
}

.seccionEditar {
    display: "none";
}
