* {
    margin: 0;
    box-sizing: border-box;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3#header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Formulario y botones */
form#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form#todo-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form#todo-form button.boton-personalizado {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer; /* hace al curso una manito*/
    font-size: 16px;
}

/* Estilo para los enlaces de navegación cuando se hace clic (pseudoclase :active) */
.nav a.active {
    background-color: #2980b9; /* Cambia el color de fondo a azul cuando se hace clic */
    color: white; /* Cambia el color del texto a blanco cuando se hace clic */
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

/* Navegación */
nav.nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav.nav ul li {
    margin-right: 50px; /* margen derecho de los elementos de la lista*/
}

nav.nav ul li a {
    text-decoration: none; /* elimina el subrayado*/
    color: #333;
    font-weight: bold;
}

/* Secciones */
section {
    display: none; /*oculta el contenido html de todas las secciones*/
    padding: 20px;
}

section h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: none; /*elimina las vinetas de la lista*/
    padding: 0;
}

/* Estilos específicos para las secciones */
.seccion {
    background-color: #f2f2f2;

}

button {
    /* Estilos comunes para todos los botones */
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s
}
button:hover {
    background-color: #2980b9; /* Color de fondo al pasar el mouse */
    color: #ffffff; /* Color de texto al pasar el mouse */
}

li {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en el li */
    justify-content: space-between; /* Alinea los elementos a lo largo del eje principal (horizontal) */
    padding: 10px; /* Espaciado interior para un aspecto más limpio */
}

/* Estilo para el contenedor de detalles de la tarea */
.taskDetalles{
display: flex;
align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

/* Estilo para el checkbox */
.checkbox-tarea {
margin-right: 10px; /* Espacio entre la casilla de verificación y el nombre de la tarea */
}

/* Estilo para el nombre de la tarea */
.task-name {
flex: 1; /* Hace que el nombre de la tarea ocupe el espacio restante disponible */
}

/* Estilo para el contenedor de acciones de la tarea */
.taskAcciones {
display: flex;
align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

/* Estilo para el cuadro de texto de edición */
.formEditar {
flex: 1; /* Hace que el cuadro de texto ocupe el espacio restante disponible */
margin-right: 1100px; /* Espaciado a la izquierda para separar el cuadro de texto del botón de guardar */
margin-top: 30px;
width: 100%;
max-width: 700px;
box-sizing: border-box;
}

/* Estilo para el botón de editar */
.boton-editar {
margin-right: 10px; /* Espacio entre el botón de editar y el botón de eliminar */
}

/* Estilo para el botón de eliminar */
.boton-eliminar {
margin-left: 10px; /* Espacio entre el botón de eliminar y el botón de editar */
}

.Guardar {
margin-top: 10px;
}

.Cancelar {
margin-top: 10px;
}

/* Contenedor para alinear elementos */
.footer {
    display: flex;
    justify-content: space-between; /* Coloca los elementos al inicio y al final del contenedor */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos para el párrafo de actividades pendientes */
#actividades-pendientes {
    margin: 0; /* Elimina el margen para ajustar el párrafo a la izquierda */
}

/* Estilos para el botón "Clear completed" */
#actividades-completadas {
    margin-top: 10px;
    background-color: #2980b9; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; /* Cambia el cursor al estilo de un botón */
}

/* Estilo hover para el botón */
#actividades-completadas:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

