/* Establece los márgenes para todos los elementos */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales de la página*/
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Contenedor principal de la página */
#container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado principal */
h3#header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Formulario y botones */
form#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Campo de entrada de texto en formulario */
form#todo-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botón personalizado en el formulario */
form#todo-form button.boton-personalizado {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer; 
    font-size: 16px;
}

/* Estilo para los enlaces de navegación cuando se hace clic (activos)*/
.nav a.active {
    background-color: #2980b9; 
    color: white; 
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

/* Navegación */
nav.nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav.nav ul li {
    margin-right: 50px; 
}

nav.nav ul li a {
    text-decoration: none; 
    color: #333;
    font-weight: bold;
}

/* Secciones */
section {
    display: none; 
    padding: 20px;
}

section h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Listas sin viñetas */
ul {
    list-style: none; 
    padding: 0;
}

/* Estilos específicos para las secciones */
.seccion {
    background-color: #f2f2f2;
}

/* Estilos comunes para todos los botones */
button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s
}

/* Estilos hover para botones */
button:hover {
    background-color: #2980b9; 
    color: #ffffff; 
}

/* Estilos para elementos de lista*/
li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 
}

/* Estilo para el contenedor de detalles de la tarea */
.taskDetalles{
display: flex;
align-items: center; 
}

/* Estilo para el checkbox */
.checkbox-tarea {
margin-right: 10px;
}

/* Estilo para el nombre de la tarea */
.task-name {
flex: 1; 
}

/* Estilo para el contenedor de acciones de la tarea */
.taskAcciones {
display: flex;
align-items: center;
}

/* Estilo para el cuadro de texto de edición */
.formEditar {
flex: 1; 
margin-right: 1100px; 
margin-top: 30px;
width: 100%;
max-width: 700px;
box-sizing: border-box;
}

/* Estilo para el botón de editar */
.boton-editar {
margin-right: 10px; 
}

/* Estilo para el botón de eliminar */
.boton-eliminar {
margin-left: 10px; 
}

/* Estilo para el botón de guardar */
.Guardar {
margin-top: 10px;
}

/* Estilo para el botón de cancelar */
.Cancelar {
margin-top: 10px;
}

/* Contenedor del pie de página */
.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Estilos para el actividades pendientes */
#actividades-pendientes {
    margin: 0; 
}

/* Estilos para el botón "Clear completed" */
#actividades-completadas {
    margin-top: 10px;
    background-color: #2980b9;
    color: white; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; 
}

/* Estilo hover para el botón */
#actividades-completadas:hover {
    background-color: #0056b3;
}

